body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: black;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:black;
    padding: 15px;
    box-shadow: 0px 2px 5px black(0,0,0,0.1);
    position: relative;
}
.logo-name{
    font-size: 25px;
    background-color: black;
    color: red;
    padding: 10px;
    border-radius: 5px;
}
.nav-links li  {
    margin-left: 20px;

}
.nav-links li a{
    color: red;
    text-decoration: none;
    padding: 5px 8px;
    border-radius: 4px;
    transition: background-color 0.3s;
}
.nav-links li a:hover{
    background-color: red;
    color: white;
}
.transparent{
    color: white;
    text-align: center;
}
.aaa{
    color: aliceblue;
    padding: 150px;
}
.boxus{
    height: 800px;
    width: 1400px;
    position: relative;
}
.boxus1{
    position: absolute;
    height: 500px;
    width: 450px;
    background-color: darkred;
    display: inline-block;
    border: 10px solid white;
    top: 30px;
    border-radius: 5px;
    left: 480px;
}
.boxus1 .ent{
    position:absolute;
    color: white;
    display: inline-block;
    font-size: 20px;
    top: 50px;
    left: 20px;
}
.boxus1 .log{
    position: absolute;
    color: white;
    display: inline-block;
    text-align: center;
    font-size: 20px;
    left: 160px;
}
.boxus1 .name{
    position: absolute;
    border: 2px solid white;
    color: white;
    height: 25px;
    width: 400px;
    border-radius: 2px;
    top: 100px;
    left: 20px;
}
.boxus1 .mail{
    position:absolute;
    color: white;
    display: inline-block;
    font-size: 20px;
    top: 150px;
    left: 20px;
}
.boxus1 .mailname{
    position: absolute;
    color: white;
    border: 2px solid white;
    height: 25px;
    width: 400px;
    left: 20px;
    top: 200px;
}
.boxus1 .password{
    position:absolute;
    color: white;
    display: inline-block;
    font-size: 20px;
    top: 250px;
    left: 20px;
}
.boxus1 .word{
    position: absolute;
    color: white;
    border: 2px solid white;
    height: 25px;
    width: 400px;
    left: 20px;
    top: 311px;
}
.boxus .forget{
    position:absolute;
    color: white;
    display: inline-block;
    font-size: 20px;
    top: 370px;
    left: 150px;
}
